.titulo-seccion, .section-features, .container-prices, .container-mapa, .container-customer {
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%; }

input::-webkit-input-placeholder {
  color: #fff !important; }

.menuTFinal {
  background-color: #fff;
  padding: 15px 0;
  margin: 0; }

.logoEmpresa img {
  width: 50%; }

.nav.navbar-nav li.btnSignUp {
  border-radius: 3px;
  background-color: #0069ff; }
  .nav.navbar-nav li.btnSignUp a {
    color: #fff; }

.header-tf {
  background: #5a9eff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5a9eff 0%, #1575ff 44%, #016aff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5a9eff 0%, #1575ff 44%, #016aff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5a9eff 0%, #1575ff 44%, #016aff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a9eff', endColorstr='#016aff',GradientType=0 );
  /* IE6-9 */ }
  .header-tf .form-crearCuenta {
    width: 330px;
    margin: 60px 0; }
    .header-tf .form-crearCuenta h2 {
      color: #fff;
      line-height: 37px;
      width: 470px; }
    .header-tf .form-crearCuenta input {
      background-color: transparent;
      background-image: none;
      border: 1px solid #fff;
      border-radius: 3px;
      width: 436px;
      height: 50px;
      margin-bottom: 17px; }
    .header-tf .form-crearCuenta .btn-crear {
      border-radius: 3px;
      width: 436px;
      height: 50px;
      background-color: #fff;
      color: #0069ff; }
  .header-tf .img-header img {
    width: 100%;
    margin: 60px 4px;
    border: 1px solid #0069ff;
    border-radius: 4px; }

.section-features {
  border-bottom: 1px solid #e0e0e0; }
  .section-features p {
    font-size: 12px;
    color: #666;
    text-align: left; }
  .section-features h3 {
    text-align: left; }
  .section-features .item-features {
    margin: 40px 0; }
    .section-features .item-features p {
      font-size: 12px;
      color: #666; }
    .section-features .item-features .img-feature {
      height: 160px; }

.container-prices {
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .container-prices .item-precios {
    width: 20%;
    border: 1px solid #0069ff;
    padding: 10px; }
    .container-prices .item-precios h3 {
      text-align: center; }
    .container-prices .item-precios li {
      list-style: none; }
  .container-prices .btn-principal {
    display: block;
    margin: 40px auto; }
    .container-prices .btn-principal a {
      /*esta sintaxis es una funcion*/
      text-align: center;
      font-size: 15px;
      padding: 15px 60px;
      border-radius: 3px;
      text-decoration: none;
      width: 260px;
      background-color: #0069ff;
      color: #fff; }

.container-mapa {
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .container-mapa .img-mapa {
    display: block; }
    .container-mapa .img-mapa img {
      width: 100%; }
  .container-mapa .btn-principal {
    display: block;
    margin: 40px auto; }
    .container-mapa .btn-principal a {
      /*esta sintaxis es una funcion*/
      text-align: center;
      font-size: 15px;
      padding: 15px 60px;
      border-radius: 3px;
      text-decoration: none;
      width: 260px;
      background-color: #0069ff;
      color: #fff; }

.container-customer {
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .container-customer .img-customer {
    display: block; }
    .container-customer .img-customer img {
      width: 100%; }
  .container-customer .btn-principal {
    display: block;
    margin: 40px auto; }
    .container-customer .btn-principal a {
      /*esta sintaxis es una funcion*/
      text-align: center;
      font-size: 15px;
      padding: 15px 60px;
      border-radius: 3px;
      text-decoration: none;
      width: 260px;
      background-color: #0069ff;
      color: #fff; }

.container-contact {
  width: 100%;
  background-image: url("../img/bg-contact.png");
  border-bottom: 1px solid #e0e0e0;
  height: 355px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .container-contact h2 {
    color: #fff;
    text-align: center; }
  .container-contact .img-contact {
    display: block; }
    .container-contact .img-contact img {
      width: 100%; }
  .container-contact .btn-principal {
    display: block;
    margin: 40px auto; }
    .container-contact .btn-principal a {
      /*esta sintaxis es una funcion*/
      text-align: center;
      font-size: 15px;
      padding: 15px 60px;
      border-radius: 3px;
      text-decoration: none;
      width: 260px;
      background-color: #fff;
      color: #0069ff; }
